body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(33, 111, 212);
}

h1 {
    color: white;
    margin: 0;
    margin-top: 25px;
}

header {
    padding-left: 25px;
    height: 100px;
}

.back-button {
    margin-top: 25px;
}

[type="text"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
}

button {
  margin-top: 50px;
  cursor: pointer;
  background: white;
  color: black;
  border: 1px solid black;
}

#container {
    height: 100%;
    padding: 25px;
}

.card {
    width: 250px;
    height:250px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 20px 20px 20px 0px;
    padding: 10px;
    position: relative;
}

.delete {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: center;
    background-image: url('delete.png') center center no-repeat;
}

.card:hover {
    cursor: pointer;
}

.project {
    width: 250px;
    height:250px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 20px 20px 20px 0px;
    padding: 10px;

}

.project:hover {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }